<!DOCTYPE HTML>
<html>
<head>
    <title>Message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Input message"/>
        <input type="text" name="tag" placeholder="Input tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Добавить</button>
    </form>
</div>
<form method="post" action="filterAct">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Найти</button>
</form>
<div>
    Список сообщений
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>
        </div>
    {{/messages}}
</div>
</body>
